main{
    padding: 5% 0;
}
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}

.modal-header{
    background-color: #ae2d1a;
    color: white;
    padding: 3% 0;

}
.btn-danger-custom{
    background-color: #ae2d1a;
    color: white;
    border-color: #ae2d1a;
    padding:1% 5%;
}
.btn-danger-custom:hover{
    color: white;
    border-color: #ae2d1a;
}
.modal-body{

    padding:3% 0%;
}
.tab-content{
    padding:0px 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #ae2d1a;
}
